<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome My Site</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="/js/bootstrap.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main">Catholic University Voting System</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/main">CANDIDATE</a>
                </li>
                <li class="active">
                    <a href="/main">VOTE</a>
                </li>
                <li class="active">
                    <a href="/main">VOTING RATE</a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BOARD
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/main">NOTICE</a>
                        </li>
                        <li>
                            <a href="/main">FREE BOARD</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div >
                    <a href="/login">LOGOUT</a>
                    </div>
            <!-- <div class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                         <h3><%= id%>님</h3>
                        <li><a href="/logout">LOGOUT</a></li>
                    </div> -->

        </div>
    </nav>
    <div class="container">
            <div id="myCarousel" class="carousel slide " data-ride="carousel">   
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="item active">
                     <img src="images/lala.jpg" style="width: 100%; height: 450px;">
                  </div>
                  <div class="item">
                     <img src="images/lala.jpg" style="width: 100%; height: 450px;">
                  </div>
                  <div class="item">
                     <img src="images/lala.jpg" style="width: 100%; height: 450px;">
                  </div>
               </div>
               <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
               </a>
               <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
               </a> 
            </div>
         </div>
</body>

</html>